<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Dumpy test suite">
            <directory>tests/PhpPackages/Dumpy</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/PhpPackages/Dumpy</directory>
        </whitelist>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>
<!--
vim: syntax=xml
-->
